
body {
    font-family: 'Poppins', sans-serif;
  }

.equation {
      font-size: 16px;
      font-family: 'Poppins', sans-serif;
      background-color: #f8f9fa;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
      white-space: pre-line;
}

.card{
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.158);
}
.card-header {
font-weight: bold;
}